p{
    color: #bef700;
    background-color: grey;
}

.hi{
    color: darkred;
    background-color: azure;
}

#ssss{
    color: aquamarine;
}
*{
    background-color: mediumpurple;
}
.flex {
    display: flex;
    height: 300px;
    padding: 15px;
    background-color: #61a0f8;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    background-color: #f08bc3;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
  }
  
  .flex-2 {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
    background-color: #f08bc3;
  }